.active {
  color: white;
  text-decoration: none;
  opacity: 1;
}
body {
  font-family: "Yanone Kaffeesatz", sans-serif;
}
h1,
h2 {
  color: #f9fbff;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
}
h3 {
  font-size: 20px;
}
.container {
  position: relative;
  left: 17%;
  margin: 60px;
  padding: 0;
  width: 427px;
  height: 707px;
}
.weather-box {
  position: relative;
  background-image: linear-gradient(to bottom, #c393ea, #8cbcfa);
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid lightskyblue;
  box-shadow: 12px 12px 2px 1px rgba(151, 151, 160, 0.2);
}
.emoji {
  position: relative;
  left: 36%;
}
.form-group {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 200px;
  position: relative;
  left: 26%;
}
.details {
  margin: 5.5rem 0 1.5rem 0;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  color: #f9fbff;
}

.number {
  display: inline-block;
  font-size: 39px;
  position: relative;
  top: -21px;
}
.active {
  display: inline-block;
  font-size: 32px;
  position: relative;
  top: -20px;
}
.footer {
  position: relative;
  left: 362px;
  font-size: 20px;
}
.hello {
  position: relative;
  left: 176px;
  bottom: -9px;
  font-size: 20px;
  color: #f9fbff;
}
#temperature {
  position: relative;
}
#icons {
  font-size: 36px;
  color: #f9fbff;
}
#forcast {
  font-size: 20px;
  color: #f9fbff;
}
#current-temp {
  position: relative;
  top: -3px;
  left: 63px;
}
#current-temp {
  text-align: center;
  font-size: 53px;
  position: relative;
  left: 46px;
}
#current-date {
  text-align: center;
  font-size: 30px;
  color: #f9fbff;
}
